header {
  background-color: blue;
  text-align: center;
  color: bisque;
}

main {
  background-color: rgb(123, 123, 117);
  padding: 1em;
}
body {
  background-image: url(record.png);
  background-size: auto;
  background-repeat: repeat;
  margin: 0;
}
